@import "tailwindcss";

@layer base {
  :root {
    --neon-primary: #ff1493; /* Rosa por defecto */
    --neon-secondary: #40e0d0;
  }

  body { background-color: black; color: white; transition: background 0.5s ease; }

  /* El Marco Global que cambia de color */
  .global-frame {
    position: fixed;
    inset: 0;
    border: 15px solid;
    border-image: linear-gradient(45deg, var(--neon-primary), var(--neon-secondary)) 1;
    pointer-events: none;
    z-index: 100;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@utility text-dynamic-neon {
  color: white;
  text-shadow: 0 0 10px var(--neon-primary), 0 0 20px var(--neon-primary);
  transition: all 0.5s ease;
}